page-contact {
    .contact-info {
        text-shadow: 2px 2px 1px black;
        color: #e09500;
        font-size: 17px;
        font-weight: bold;
    }
    .download-resume {
        text-decoration: none;
        color: white;
    }
}