#avatar-photo {
    border-radius: 50%;
    width: 250px;
}
.page-border {
    border: 1px solid #e09500;
    width: 67%;
    margin: 0 auto;
}
.sometitle {
    color: #e09500 !important;
}
.textitem {
    text-shadow: 2px 2px 1px black;
    color: white;
    font-size: 20px;
}
.username {
    font-size: 48px !important;
}