<ion-header no-border>
  <ion-navbar>
    <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <h4 class="page-text" style="color: white">Personal Projects</h4>
  </ion-navbar>
</ion-header>


<ion-content padding class="background page-text">
  <div text-center [style.marginRight]="!isMobile ? screenX / 10 + 'px' : '0px'" [style.marginLeft]="!isMobile ? screenX / 10 + 'px' : '0px'">
    <ion-grid>
      <!--Non-mobile devices-->
      <div *ngIf="!isMobile">
        <ion-row text-center *ngFor="let i of rows">
          <ion-col *ngFor="let project of projects | slice:(i*3):(i+1)*3">
            <div padding class="project-card" *ngIf="project.icon && project.label && project.link" on-mouseenter="mouseOver(project.id)"
              on-mouseleave="mouseOut()">
              <div *ngIf="hoverProjectId != project.id" style="margin: 0 auto; height: 200px"><img class="project-media" src="{{project.icon}} " alt="icon "></div>
              <ion-scroll *ngIf="hoverProjectId == project.id" scrollY="true" style="width: 100%; height: 200px;">
                <div *ngIf="hoverProjectId == project.id" text-left [innerHTML]="project.description"></div>
              </ion-scroll>
              <p class="project-label" [style.fontSize]="'20px'" text-center><a href="{{project.link}}">{{project.label}}</a></p>
            </div>
          </ion-col>
        </ion-row>
      </div>
      <!-- Mobile devices -->
      <div *ngIf="isMobile">
        <ion-row text-center *ngFor="let i of rows">
          <ion-col *ngFor="let project of projects | slice:(i*2):(i+1)*2">
            <div padding class="project-card" *ngIf="project.icon && project.label && project.link">
              <div *ngIf="hoverProjectId != project.id" style="margin: 0 auto; height: 80px;" (tap)="showDescriptionModal(project)">
                <img [style.width]="'80px'" [style.height]="'80px'" src="{{project.icon}} " alt="project icon ">
              </div>
              <ion-scroll *ngIf="hoverProjectId == project.id" scrollY="true" style="width: 100%; height: 80px;">
                <div style="margin: 0 auto; height: 80px; font-size: 13px; list-style: none;" text-left [innerHTML]="project.description"></div>

              </ion-scroll>
              <p class="project-label" [style.fontSize]="'15px'" text-center><a href="{{project.link}}">{{project.label}}</a></p>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </ion-grid>
  </div>
</ion-content>>